{% extends "base.j2" %}

{% block title %}
    Calendario ordini
{% endblock %}

{% block content %}

    <div id="calendar"
    data-events-url="{{ url_for("ordini_cliente.ordini_calendario_scadenze") }}"></div>

{% endblock %}
{%  block scripts %}
    <script src={{ url_for('static', filename="vendor/fullcalendar-7.1.0/dist/locales-all/global.js") }}></script>
    <script src={{ url_for('static', filename="js/calendario.js") }}></script>
    <script src={{ url_for('static', filename="js/modal.js") }}></script>
{% endblock %}
