<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Login
        {% endblock %}
    </title>
    <!-- Bootstrap -->
    <link
            href={{ url_for('static', filename="vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css")}}
            rel="stylesheet"
    >
    <!-- CSS applicazione -->
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
    >
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='vendor/fullcalendar-7.1.0/dist/skeleton.css') }}">

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='vendor/fullcalendar-7.1.0/dist/themes/forma/theme.css') }}">

    {% block head %}
    {% endblock %}
</head>

<body>

<!-- Contenuto principale -->
<main class="container py-4">

    <!-- Flash messages Flask -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            {% for category, message in messages %}

                <div
                        class="alert alert-{{ category }} alert-dismissible fade show"
                        role="alert"
                >
                    {{ message }}

                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Chiudi"
                    ></button>
                </div>

            {% endfor %}

        {% endif %}
    {% endwith %}


    <!-- Contenuto della pagina -->
    {% block content %}
    {% endblock %}

</main>

<div id="htmx-global"></div>
{% block scripts %}
    <script
            src="{{ url_for('static', filename="vendor/fullcalendar-7.1.0/dist/fullcalendar.global.js") }}">
    </script>
    <!--  HTMX-->
    <script
            src= {{url_for('static', filename="vendor/htmx/htmx.min.js") }}>
    </script>
    <!-- Bootstrap JS -->
    <script
            src={{ url_for('static', filename="vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js")}}>
    </script>
    <!-- Modal -->
    <script src={{ url_for('static', filename="js/modal.js") }}></script>
{% endblock %}

</body>
</html>